<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='add_adventure.css') }}">
    <title>Add Adventures</title>
</head>
<body>
    <h1>Add New Adventure</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/adventures/create" method = 'POST'>
        <input type="hidden" name="user_id" value="{{session.user_id}}">
        <label for="title">Title:</label>
        <input type="text" name="title">
        <label for="place">Place:</label>
        <input type="text" name="place">
        <label for="date">Date:</label>
        <input type="date" name="date">
        <label for="desciption">Description</label>
        <textarea name="description" cols="30" rows="5"></textarea>
        <input type="submit" value="Add">
    </form>
</body>
</html>