<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome {{this_user.first_name}} {{this_user.last_name}}</h1>
    <a href="/users/logout">
        <button>Logout</button>
    </a>
    <h3>My past adventures:</h3>
    {% for adventure in this_user.adventures %}
        <p>Title: {{adventure.title}}</p>
        <p>Place: {{adventure.place}}</p>
        <p>Date: {{adventure.date}}</p>
        <p>Description: {{adventure.description}}</p>
        <a href="/edit/{{adventure.id}}">Edit</a>
        <a href="/delete/{{adventure.id}}">Delete</a>
    {% endfor %}
    <div>
        <a href="/adventures">
            <button>Create New Adventure</button>
        </a>
        <a href="/all_adventures">
            <button>View All Adventures</button>
        </a>
    </div>
</body>
</html>