<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View one recipe</title>
</head>
<body>
    <h1>Welcome {{this_user.first_name}}!</h1>
    <h2>{{recipe.name}}</h2>
    <p>Under 30 mins: {{recipe.under30}}</p>
    <p>Instructions: {{recipe.instructions}}</p>
    <p>Date Made: {{recipe.date}}</p>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
</body>
</html>