<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>Title: {{book.title}}</h1>
    <p>Favorited by:</p>
    {% for a in unfavor_author %}
        <p>{{a.name}}</p>
    {% endfor %}
    
    <form action="/join/author" method = 'POST'>
        <h1>Add Book's Favorite</h1>
        <input type="hidden" name="book_id" value="{{book.id}}">
        <label for="author_id">Authors:</label>
        <select name="author_id">
            {% for a in unfavor_author %}
                <option value="{{a.id}}">{{a.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>

    <a href="/">Home</a>

</body>
</html>